verde = #549654;
rojo = #ff4242
.miembro-container
    display flex
    flex-direction column
    .miembro-infoBasica
        .info-basica
            width 100%
            display flex
            flex-direction row
            justify-content space-between
            align-items center
        .form
            .input-layout
                width 100%
            .boton-guardar
                width 100%
                display flex
                justify-content center
                align-items center
                .saveEdicion
                    width 90px
                    background-color verde
