mat-card.miembros-container
    mat-toolbar(color="primary")
        h1 Miembros
    .buscador
        form
            .autocomplete
                autocomplete
                button.buscar(mat-button (click) = "crearNuevo()")
                    mat-icon add_circle
    .linea-separador
    .lista-miembros
        h3 Lista de Miembros
        mat-list
            mat-list-item(*ngFor="let miembro of miembros")
                .nombre
                    h3 {{miembro.nombre}}
                .botones
                    button.right(mat-button (click)="eliminarMiembro(miembro)")
                        mat-icon delete
                    button.right(mat-button (click)="mandarAMiembro(miembro.id)")
                        mat-icon edit
                mat-divider
