.header-container
    .header-izquierda
        .logo
            a(mat-button [routerLink]="navLinks[0].path" [routerLinkActive]="['active']")
                img(src="assets/images/colnal_iconos_logo palabra.png")
            
    .header-centro
        .menu-navegacion
            a.nav(mat-button style="min-width: 70px !important;" [routerLink]="navLinks[2].path" [routerLinkActive]="['active']") Noticias
            .linea
            a.nav(mat-button style="min-width: 70px !important;") Agenda
            .linea
            a.nav(mat-button style="min-width: 70px !important" [routerLink]="navLinks[4].path" [routerLinkActive]="['active']") Miembros
            .linea
            a.nav(mat-button) La institución
            .linea
            a.nav(mat-button) Centro de informacion
    .header-derecha
        .menu-oculto
            mat-icon notifications
            button.menu(mat-button) Menu 
                mat-icon menu
