h1 Eventos
a((click)="loadevents()") loadevents
p Display event : {{displayEvent | json}}
.div(*ngIf="calendarOptions")
    ng-fullcalendar#ucCalendar([options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
        (eventResize)="updateEvent($event.detail)" (dayClick)="dayClick($event.detail)" (clickButton)="clickButton($event.detail)" [(eventsModel)]="events")
//- .div(*ngIf="calendarOptions")
//-     ng-fullcalendar#ucCalendar([options]="calendarOptions" [(eventsModel)]="events")
