mat-card.noticias-container
    mat-toolbar(color="primary")
        h1 Noticias
    .buscador
        form.formularioNoticias
            .autocomplete
                autocomplete
                button.buscar(mat-button (click) = "crearNueva()")
                    mat-icon add_circle
    .linea-separador
    .lista-noticias
        h3 Lista de Noticias
        
        
    
    
            
