.noticia-main-container
    .noticia-main-content
        .contenedor-central
            .header-contenedor
                .etiqueta
                    p {{noticia.tipo}}
                    h1 {{noticia.nombre}}
                    h3 {{noticia.introduccion}}
                    p 22 agosto 2018
                    p *iconos*
                .cuerpo
                    .imagen
                    .descripcion
                        p([innerHtml] = "noticia.descripcion")
                    .contenedor-tags
                        p MAS SOBRE
                        .tags(*ngFor="let tag of noticia.tags")
                            a(mat-button) {{tag.nombre}}
                .boletin-semanal
                    h2 BOLETIN SEMANAL
                    P Suscribete a nuestro boletin de noticias sobre el colegio
                    input(matInput placeholder="Escribe tu correo electronico")
                    a(mat-button) SUSCRIBETE      
        .contenedor-lateral
