.noticia-main-container
    position relative
    display flex
    justify-content center
    align-items flex-start
    .noticia-main-content
        position relative
        width 1300px
        display flex
        flex-direction row
        .contenedor-central
            width 1000px
        .contenedor-lateral
            width 300px
            background-color #333333
