mat-card.noticias-container
    mat-toolbar(color="primary")
        h1 Eventos
    .buscador
        form
            .autocomplete
                autocomplete
                button.buscar(mat-button (click) = "crearNuevo()")
                    mat-icon add_circle
    .linea-separador
    .lista-eventos
        h3 Lista de Eventos
        mat-list
            mat-list-item(*ngFor="let evento of eventos")
                .nombre
                    h3 {{evento.nombre}}
                .botones
                    button.right(mat-button (click)="eliminarEvento(evento)")
                        mat-icon delete
                    button.right(mat-button (click)="mandarAEvento(evento.id)")
                        mat-icon edit
                mat-divider
