main
    header
        include ./partials/header.pug
    .contenido([@routerTransition]="getState(o)")
        router-outlet(#o="outlet")
    .footer
        .seccion-izquierda
            .direccion
                .direccion-icono
                    mat-icon location_on
                    p Donceles 104
                p Centro Historico
                p México, Ciudad de México, C.P. 06020
                a((click)="hola()" style="text-decoration: underline;") Ver mapa
            .contacto
                h1 Contactanos
                .contacto-mail
                    mat-icon mail
                    p hola@colnal.mx
                .contacto-phone
                    mat-icon phone
                    p (52)(55) 5789 4330
        .seccion-derecha
            .redes-sociales
                img(src="assets/images/colnal_iconos_facebook.png")
                img(src="assets/images/colnal_iconos_twitter.png")
                img(src="assets/images/colnal_iconos_instagram.png")
                img(src="assets/images/colnal_iconos_youtube.png")
