negro = #1b1b1b
gris = #9b9b9b

h1,h2,h3,h4
    font-family 'Roboto'
p
    font-family 'Cabin'
    
main
    width 100%
    height 100vh
    display grid
    grid-template-columns 100% //indica que es de una columna de 100% de anccho
    grid-template-rows 0.5fr 10fr 4fr //indica qie son 3 filas

    header
        background-color negro
        .header-container
            height 100%
            display flex
            flex-direction row
            justify-content space-around
            align-items center
            .header-izquierda
                .logo
                    img
                        height 100%
                        width 80%
            .header-centro
                .menu-navegacion
                    display flex
                    flex-direction row
                    justify-content center
                    align-items center
                    .mat-button.nav
                        span
                            color gris
                            font-size 12px
                    .linea
                        height 25px
                        width 1px
                        background-color gris
            .header-derecha
                .menu-oculto
                    display flex
                    justify-content center
                    align-items center
                    mat-icon
                        color gris
                    .mat-button.menu
                        span
                            color gris
                            text-transform uppercase
                            font-weight 600
                    mat-icon
                        color gris
                    .menuGrande
                        background #d8d8d8 !important
                        margin-top -10px !important
                        margin-bottom -8px !important
    .footer
        height 150%
        background-color negro
        display flex
        flex-direction row
        justify-content space-between
        align-items center
        .seccion-izquierda
            width 40%
            height 100%
            display flex
            flex-direction row
            justify-content space-around
            align-items center
            .direccion
                display flex
                flex-direction column
                .direccion-icono
                    display flex
                    flex-direction row
                    align-items center
                    p
                        margin 0
                        font-size 11px
                        color gris

                    mat-icon
                        font-size 11px
                        color gris
                        height inherit
                        width inherit
                p, a
                    color gris
                    margin 0
                    font-size 11px
                a
                    cursor pointer
                    &:focus
                        outline  0px
            .contacto
                display flex
                flex-direction column
                justify-content center
                h1
                    color gris
                    font-size 13px
                    margin 5px
                .contacto-mail
                    display flex
                    flex-direction row
                    align-items center
                    p
                        margin 0
                        color gris
                        font-size 11px

                    mat-icon
                        font-size 11px
                        color gris
                        height inherit
                        width inherit
                .contacto-phone
                    display flex
                    flex-direction row
                    align-items center
                    p
                        margin 0
                        color gris
                        font-size 11px
                    mat-icon
                        color gris
                        font-size 11px
                        height inherit
                        width inherit
        .seccion-derecha
            height 100%
            width 20%
            display flex
            justify-content center
            align-items center
            .redes-sociales
                img
                    height 40px
                    width 40px
