@import "/../../../../../default.styl";

.miembro-content
    width 980px
    height 100%
    padding 16px
    .encabezado-miembro
        width 100%
        height 240px
        display flex
        flex-direction row
        justify-content center
        align-items center
        .portada
            height 240px
            width 240px
            img
                width 100% 
                height 100%
        .info-titulo
            width 100%
            height 240px
            .nombre-container
                background-color #ff5252
                height 145px
                display flex
                flex-direction row
                justify-content space-around
                align-items center
                .nombre
                    width 50%
                    display flex
                    justify-content center
                    flex-direction column
                    padding 10px
                    h1
                        font-size 25px
                        color white
                        margin 0
                    p
                        color white
                        margin 0
                        font-size 16px
                .linea
                    height 80px
                    width 1px
                    background-color white
                .categoria
                    width 50%
                    display flex
                    justify-content center
                    align-items center
                    padding 23px
                    h1
                        font-size 18px
                        color white
            .eventos
                display flex
                flex-direction column
                justify-content center
                align-items center
                background-color #4e4d4e
                height 95px
                p
                    margin 0
                    color #c0c0c0
    .descripcion-miembro
        p
            text-align justify