.busqueda
    autocomplete
.noticia-container
    .noticia-content
        .barra
            button(mat-button) TODO
            .linea
            button(mat-button) INSTITUCION
            .linea
            button(mat-button) ACTUALIDAD
            .linea
            button(mat-button) PRENSA
        .grid-noticias
            .grid-item-noticia(*ngFor="let noticia of noticias")
                .etiqueta([style.backgroundColor]="noticia.color")
                    p {{noticia.tipo}}
                .imagen
                .texto
                    p {{noticia.introduccion}}
                    h4 Leer mas
