.busqueda
    autocomplete
.noticias-container
    .noticias-content
        .nav
            button(mat-button) TODO
            .linea
            button(mat-button) INSTITUCION
            .linea
            button(mat-button) ACTUALIDAD
            .linea
            button(mat-button) PRENSA
        .grid-noticias
            .grid-item-noticia
                .imagen
                .texto
                    .leermas
