form(class="contenedor" (ngSubmit)="submit()" novalidate)
    mat-dialog-content.contenido
        h2 Seguro que quieres eliminar este elemento?
    mat-dialog-actions.botones
        button(mat-button color="warn" type="button" (click)="cancel()") Cancelar
            mat-icon cancel
        button(mat-button color="primary" type="submit") Aceptar
            mat-icon done
